<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" value="All" [(ngModel)]="selectedRadioButton" (change)="onSelectedRadioButtonChanged()" />
    <span>{{"All ("+all+")"}}</span>

    <input type="radio" name="filter" value="true" [(ngModel)]="selectedRadioButton" (change)="onSelectedRadioButtonChanged()" />
    <span>{{"In Stock (" + inStock +")"}}</span>

    <input type="radio" name="filter" value="false" [(ngModel)]="selectedRadioButton" (change)="onSelectedRadioButtonChanged()"/>
    <span>{{"Out of Stock (" + outOfStock + ")"}}</span>
</div>
<!-- We're geeting radio button event on change. -->